.project-content {
  margin-top: -66px;
  padding-top: 66px;
}

.project-content-container {
  width: 900px;
  margin-left: 332px;
  margin-bottom: 30%;
}

.project-content-container .title-container {
  margin-top: 32px;
}
