.portfolio-usingtechstack-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-top: 16px;
}

.portfolio-usingtechstack-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.portfolio-usingtechstack-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.portfolio-usingtechstack-name {
  font-size: 20px;
}

.portfolio-usingtechstack-desc {
  margin-top: 8px;
  line-height: 1.3rem;
}
