.api-spec-unit-row {
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.api-spec-unit-dialog {
  height: 700px;
  padding: 0px 32px;
}

.api-spec-unit-dialog-title {
  font-size: 24px;
  font-weight: bold;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.api-spec-unit-dialog-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
}
