.portfolio-projects-container {
  display: grid;
  margin-top: 16px;
  gap: 32px;
  grid-template-columns: repeat(4, minmax(100px, auto));
  @media screen and (max-width: 1500px) {
    grid-template-columns: repeat(3, minmax(100px, auto));
  }
  @media screen and (max-width: 1050px) {
    grid-template-columns: repeat(2, minmax(100px, auto));
  }
}
