.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  align-items: center;
}

.main-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.main-filterchip {
  border: 1px solid rgb(210, 210, 210);
}

.main-filterchip + .main-filterchip {
  margin-left: 8px;
}

.project-items-container {
  display: grid;
  margin: 16px;
  gap: 16px;
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, minmax(100px, auto));
  }
  grid-template-columns: repeat(3, minmax(100px, auto));
}
