.project-nav-container {
  max-width: 300px;
  border-radius: 16px;
  border: none;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: fixed;
  margin-top: 66px;
}

.project-nav-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-nav-content {
  box-sizing: border-box;
  padding: 12px;
}

.project-nav-title {
  font-size: 18px;
  font-weight: bold;
}

.project-nav-desc {
  padding: 8px 0px;
  display: flex;
  align-items: center;
}

.project-nav-subtitle {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.project-maker-unit-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
}

.project-maker-unit-profile {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.project-nav-index p {
  margin-top: 6px;
}

.project-nav-related-links {
  line-height: 1.3rem;
  word-break: keep-all;
}

.project-nav-link {
  color: black;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
}

.project-edit-button {
  margin-right: 8px;
  width: 100px;
  height: 40px;
  border: none;
  color: white;
  background-color: rgb(0, 140, 186);
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    background: rgb(0, 117, 156);
  }
}

.project-remove-button {
  width: 100px;
  height: 40px;
  border: none;
  color: white;
  background-color: rgb(186, 0, 0);
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    background: rgb(156, 0, 0);
  }
}

.project-tech-stack-chip {
  margin-right: 4px;
  margin-top: 4px;
}

.project-tech-stack-chip-container {
  margin-top: 4px;
}

.project-nav-related-links-edit-title {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
